<section class="home">

    <div id="home-screen">

        <img
            src="assets/icons/otbi-logo.png"
            class="home-corner-logo home-otbi-logo"
            alt="Osmania Technology Business Incubator">

        <img
            src="assets/icons/ou-logo.png"
            class="home-corner-logo home-ou-logo"
            alt="Osmania University">

        <div class="home-content">
            <img
                src="assets/icons/logo.png"
                class="logo"
                alt="Website Generator">

            <h1>Website Generator</h1>

            <p class="subtitle">
                Create Professional Business Websites.
            </p>

            <p class="description">
                Generate and Host websites in minutes.
            </p>

            <ol class="home-steps">
                <li>Click on <strong>'Create New Website'</strong></li>
                <li>Fill Basic Info about your Business</li>
                <li>Click <strong>'Preview'</strong> to check</li>
                <li>Click <strong>'Generate Website'</strong> to Generate and Host it.</li>
            </ol>

            <button
                class="btn btn-primary btn-lg"
                id="new-project">
                Create New Website
            </button>

            <small>
                Version 1.0
            </small>
        </div>

        <div class="powered-by">
            <span>Powered by</span>
            <img
                src="assets/icons/tchetty-logo.png"
                alt="Tchetty">
        </div>

    </div>

</section>
